# Firebase
FIREBASE_PROJECT_ID=cab-distribute-2026
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@cab-distribute-2026.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# RapidAPI
RAPIDAPI_KEY=your_rapidapi_key_here

# Service URLs (used by gateway)
CUSTOMER_SERVICE_URL=http://localhost:3001
BOOKING_SERVICE_URL=http://localhost:3002
PAYMENT_SERVICE_URL=http://localhost:3003
FARE_SERVICE_URL=http://localhost:3004
LOCATION_SERVICE_URL=http://localhost:3005
